* {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:s :root {
  --animate-delay: 0s;
  --animate-duration: 0.4s;
}

ul {
  list-style-type: none;
}
body {
  font-family: 'Alimama_ShuHeiTi_Bold', 'Microsoft Yahei';
  color: #333;
  /* background-color: #686de0; */
  letter-spacing: 0.2px;
}
.text p,
.text li {
  line-height: 30px;
}
.text p img {
  width: 55%;
}

/* element-plus */
.is-focus {
  box-shadow: 0 0 0 1px #686de0 inset !important;
}
.el-menu {
  border-bottom: 0px !important;
}
.el-pagination {
  width: 50%;
  transform: translateX(80px);
}
.pagination li.is-active {
  background-color: #686de0 !important;
}
.pagination li.number:hover {
  color: #686de0;
}
html,
body,
#app,
.common-layout,
.aside,
.el-container,
.el-menu {
  height: 100%;
}
.el-menu--collapse .el-menu .el-submenu,
.el-menu--popup {
  min-width: 120px !important;
}
